RHT_OCP4_MASTER_API=https://api.ap45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ap45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ap45.prod.nextcle.com
RHT_OCP4_DEV_USER=thomas-wong-ico-com-hk
RHT_OCP4_DEV_PASSWORD=7849ea3274d741df99e5
RHT_OCP4_GITHUB_USER=2002batman
RHT_OCP4_QUAY_USER=2002batman
